/* *{
    padding: 0;
    margin: 0;
}

    /* background image */
.B_I{
    background-image: url(Resources/restaurant1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    
}

.w_v{
    position: absolute;
    top: 220px;
    left: 309px;
    width: 830px;
    height: 160px;
}

.welcome{
    position: absolute;
    width: 830px;
    height: 75px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    color: #FFFFFF;
}

.vision{
    position: absolute;
    width: 822px;
    height: 62px;
    top:100px ;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
} 

.button_1{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 460px;
    top: 450px;
    background: #FFFFFF;
    border-radius: 2px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    padding-top: 4px;
    box-sizing: border-box;
}

.button_2{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 680px;
    top: 450px;
    background: #FFFFFF;
    border-radius: 2px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    padding-top: 4px;
    box-sizing: border-box;
}

.B_I a{
    text-decoration: none;
    color: #000000;
}

/* .B_I a:link{

}

.B_I a:visited{

}

.B_I a:hover{

}

.B_I a:active{

} */ */